.Navbar{
    box-shadow: none;

    .App-Navbar{
        box-shadow: none;
        background: white;
        border: 0;
        height: 80px;
        z-index: 120;

        .Nav-Toggle{
            margin-top: 35px;
        }

        .Nav-Brand{
            color: black;
            margin-top: 25px;
            font-weight: bold;
        }

        .Navbar-Collapse{
            padding-top: 25px;
            text-align: center;
            margin: 0 auto;
            background: rgb(253, 253, 253);


            .Navbar-Nav{
                text-align: left;
                float: none;
                font-size: 95%;
                font-weight: 600;
                padding-left: 15px;
                display: inline-block;

                .App-Nav-Item{
                    a:hover,a:active{
                        color: #777;
                    }

                    .Nav-Active{
                        color: #FF7865;
                    }

                    .Nav-Item-Span{
                        &:hover,&:active{
                            color: rgb(255, 112, 94);
                        }
                    }

                }
            }

            .Navbar-Right{
                font-size: 120%;
                text-align: left;
                padding-left: 20px;
                .App-Nav-Item{
                    i{
                        color: rgb(61, 61, 61);
                        &:hover{
                            color: rgb(255, 112, 94);
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1200px){

}

@media only screen and (max-width: 1023px){

}

@media only screen and (max-width: 768px){
    .Navbar-Right{
        padding-right: 45%;
    }
}

@media only screen and (min-width: 767px){
    .Navbar{
        .App-Navbar{
            box-shadow: none;
            background: white;
            border: 0;
            height: 80px;
            z-index: 120;

            .Nav-Toggle{
                margin-top: 35px;
            }

            .Nav-Brand{
                color: black;
                margin-top: 25px;
                font-weight: bold;
            }

        }
    }
}

@media only screen and (max-width: 480px){
    .Navbar{
        .App-Navbar{
            .Navbar-Collapse{
                padding-top: 25px;
                text-align: left;
                margin: 0 auto;
                background: rgb(253, 253, 253);
                .Navbar-Nav{
                    .App-Nav-Item{
                        background: rgb(253, 253, 253);
                    }
                }
                .Navbar-Right{
                    .App-Nav-Item{
                        background: rgb(253, 253, 253);
                        margin-left: -5px;
                        margin-right: 15px;
                    }
                }
            }

            .Navbar-Right{
                padding-right: 0;
            }
        }
    }
}