.AppCarousel{
    .carousel-control.left,
    .carousel-control.right {
        display: none;
    }
    .SofaImageItem{
        .Image-Grid{
            .Carousel-Content{
                background: #FFF6F0;
            }
            .Main-Content-Col{
                text-align: left;
                margin-top: 50px;
                padding: 40px;
                h3{
                    font-weight: 600;
                    color: #FF7865;
                }
                h1{
                    font-weight: 800;
                    .sale-span{
                        font-size: 5rem;
                    }
                }
                .PercentOff-Image{
                    width: 70px;
                    height: 70px;
                    margin-top: -30px;
                }
                p{
                    width: 60%;
                    text-align: justify;
                }
                .Explore-Button{
                    margin-top: 20px;
                    border: 0;
                    border-radius: 0;
                    box-shadow: none;
                    background-image: none;
                    color: white;
                    background: #FF7865;
                    width: 250px;
                    height: 60px;
                    font-style: none;
                    font-size: 15px;
                    text-shadow: none;
                }
            }
            .Main-Image-Col{
                padding: 0;
                height: 100%;

            }
            .SofaImage{
                width: 100%;
                margin: 0;
                overflow: hidden;
                object-fit: cover;
            }
            .Main-Image{
                margin:0;
                width: 100%;
                height: 100%;
            }
        }
    }
}

@media (min-width: 1281px) {

}

@media (min-width: 1025px) and (max-width: 1280px) {

}

@media (min-width: 769px) and (max-width: 1024px) {

}

@media (min-width: 481px) and (max-width: 768px) {
    .AppCarousel{
        .SofaImageItem{
            .Image-Grid{
                .Main-Content-Col{
                    text-align: left;
                    margin: 0;
                    padding: 30px;
                    h3{
                        font-weight: 600;
                        color: #FF7865;
                    }
                    h1{
                        font-weight: 800;
                        .sale-span{
                            font-size: 5rem;
                        }
                    }
                    .PercentOff-Image{
                        width: 70px;
                        height: 70px;
                        margin-top: -30px;
                    }
                    .Explore-Button{
                        margin-top: 7px;
                        border: 0;
                        border-radius: 0;
                        box-shadow: none;
                        background-image: none;
                        color: white;
                        background: #FF7865;
                        width: 200px;
                        height: 50px;
                        font-style: none;
                        font-size: 15px;
                        text-shadow: none;
                    }
                }
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .AppCarousel{
        .SofaImageItem{
            .Image-Grid{
                .Main-Content-Col{
                    text-align: left;
                    margin: 0;
                    padding: 30px;
                    h3{
                        font-weight: 600;
                        color: #FF7865;
                    }
                    h1{
                        font-weight: 800;
                        .sale-span{
                            font-size: 4rem;
                        }
                    }
                    .PercentOff-Image{
                        width: 70px;
                        height: 70px;
                        margin-top: -30px;
                    }
                    .Explore-Button{
                        margin-top: 7px;
                        border: 0;
                        border-radius: 0;
                        box-shadow: none;
                        background-image: none;
                        color: white;
                        background: #FF7865;
                        width: 200px;
                        height: 50px;
                        font-style: none;
                        font-size: 15px;
                        text-shadow: none;
                    }
                }
            }
        }
    }
}