.AppCarousel{
    .carousel-control.left,
    .carousel-control.right {
        display: none;
    }
    .carousel-indicators .active {
        width: 12px;
        height: 12px;
        margin: 0;
        background-color: #FF7865;
    }

    .carousel-indicators {
        margin-top: 20px;
        bottom: 0;
        li {
            display: inline-block;
            width: 10px;
            height: 10px;
            margin: 1px;
            text-indent: -999px;
            cursor: pointer;
            background-color: #ccc;
            background-color: rgba(0,0,0,0);
            border: 1px solid #FF7865;
            border-radius: 10px;
        }
    }

    .SofaImageItem{
        .Image-Grid{
            .Carousel-Content{
                background: #FFF6F0;
                display: flex;
                .Main-Image-Col{
                    flex-direction: column;
                    padding: 0;
                }
                .SofaImage{
                    width: 100%;
                    height: 100%;
                    margin: 0;
                    padding: 0;
                    overflow: hidden;
                    object-fit: fit;
                }
                .Main-Content-Col{
                    flex-direction: column;
                    text-align: left;
                    margin-top: 10px;
                    padding: 25px;
                    padding-bottom: 30px;
                    h3{
                        font-weight: 600;
                        color: #FF7865;
                    }
                    h1{
                        font-weight: 800;
                        .sale-span{
                            font-size: 5rem;
                        }
                    }
                    .PercentOff-Image{
                        width: 70px;
                        height: 70px;
                        margin-top: -5%;
                        margin-right: 35%;
                    }
                    p{
                        width: 60%;
                        text-align: justify;
                    }
                    .Explore-Button{
                        margin-top: 20px;
                        border: 0;
                        border-radius: 0;
                        box-shadow: none;
                        background-image: none;
                        color: white;
                        background: #FF7865;
                        width: 250px;
                        height: 50px;
                        font-style: none;
                        font-size: 15px;
                        text-shadow: none;
                    }
                }
            }
        }
    }
}

@media (min-width: 1281px) {

}

@media (min-width: 1025px) and (max-width: 1280px) {

}

@media (min-width: 769px) and (max-width: 1024px) {
    .AppCarousel{
        .SofaImageItem{
            .Image-Grid{
                .Carousel-Content{
                    background: #FFF6F0;
                    display: flex;
                    .Main-Image-Col{
                        flex-direction: column;
                        padding: 0;
                    }
                    .SofaImage{
                        width: 100%;
                        height: 100%;
                        margin: 0;
                        padding: 0;
                        overflow: hidden;
                        object-fit: fit;
                    }
                    .Main-Content-Col{
                        margin-top: 0;
                        margin-bottom: 20px;
                        flex-direction: column;
                        .PercentOff-Image{
                            width: 70px;
                            height: 70px;
                            margin-top: -30px;
                            margin-right: 30%;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .AppCarousel{
        .SofaImageItem{
            .Image-Grid{
                .Carousel-Content{
                    background: #FFF6F0;
                    display: flex;
                    .Main-Image-Col{
                        flex-direction: column;
                        padding: 0;
                    }
                    .SofaImage{
                        width: 100%;
                        height: 100%;
                        margin: 0;
                        padding: 0;
                        overflow: hidden;
                        object-fit: fit;
                    }
                    .Main-Content-Col{
                        flex-direction: column;
                        text-align: left;
                        margin: 0;
                        padding: 30px;
                        padding-top: 10px;
                        margin-bottom: 20px;
                        h3{
                            font-weight: 600;
                            color: #FF7865;
                        }
                        h1{
                            font-weight: 800;
                            .sale-span{
                                font-size: 5rem;
                            }
                        }
                        .PercentOff-Image{
                            width: 70px;
                            height: 70px;
                            margin-top: -30px;
                            margin-right: 10%;
                        }
                        .Explore-Button{
                            margin-top: 7px;
                            border: 0;
                            border-radius: 0;
                            box-shadow: none;
                            background-image: none;
                            color: white;
                            background: #FF7865;
                            width: 200px;
                            height: 50px;
                            font-style: none;
                            font-size: 15px;
                            text-shadow: none;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .AppCarousel{
        .SofaImageItem{
            .Image-Grid{
                .Carousel-Content{
                    background: #FFF6F0;
                    display: block;
                    .Main-Image-Col{
                        padding: 0;
                    }
                    .SofaImage{
                        width: 100%;
                        height: 100%;
                        margin: 0;
                        padding: 0;
                        overflow: hidden;
                        object-fit: fit;
                    }
                    .Main-Content-Col{
                        text-align: left;
                        margin: 0;
                        padding: 25px;
                        margin-bottom: 15px;
                        h3{
                            font-weight: 600;
                            color: #FF7865;
                        }
                        h1{
                            font-weight: 800;
                            .sale-span{
                                font-size: 4rem;
                            }
                        }
                        .PercentOff-Image{
                            width: 70px;
                            height: 70px;
                            margin-top: -30px;
                            margin-right: 5%;
                        }
                        .Explore-Button{
                            margin-top: 7px;
                            border: 0;
                            border-radius: 0;
                            box-shadow: none;
                            background-image: none;
                            color: white;
                            background: #FF7865;
                            width: 200px;
                            height: 50px;
                            font-style: none;
                            font-size: 15px;
                            text-shadow: none;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 375px) {
    .AppCarousel{
        .carousel-indicators {
            bottom: -15px;
            margin-top: 10px;
            margin-bottom: 20px;
        }
        .SofaImageItem{
            .Image-Grid{
                .Carousel-Content{
                    display: block;
                    background: #FFF6F0;
                    .Main-Image-Col{
                        padding: 0;
                    }
                    .SofaImage{
                        width: 100%;
                        height: 100%;
                        margin: 0;
                        padding: 0;
                        overflow: hidden;
                        object-fit: fit;
                    }
                    .Main-Content-Col{
                        padding: 15px;
                        margin-bottom: 10px;
                        .PercentOff-Image{
                            width: 70px;
                            height: 70px;
                            margin-top: -30px;
                            margin-right: 2%;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 320px) {
    .AppCarousel{
        .carousel-indicators {
            bottom: -15px;
        }
        .SofaImageItem{
            .Image-Grid{
                .Carousel-Content{
                    background: #FFF6F0;
                    display: block;
                    .Main-Image-Col{
                        padding: 0;
                    }
                    .SofaImage{
                        width: 100%;
                        height: 100%;
                        margin: 0;
                        padding: 0;
                        overflow: hidden;
                        object-fit: fit;
                    }
                    .Main-Content-Col{
                        padding: 15px;
                        .PercentOff-Image{
                            width: 70px;
                            height: 70px;
                            margin-top: -30px;
                            margin-right: 0%;
                        }
                    }
                }
            }
        }
    }
}