.slick-class{
    padding: 10px;
    .slick-slide {
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        transform: scale(0.8);
    }
    .slick-center{
        z-index: 100;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    .slider-inner{
        .SofaImage{
            margin:0;
            width: 100%;
            height: auto;
        }
    }
    .slick-dots li button {
        font-family: 'slick';
    }
}

@media only screen and (max-width: 1200px){

}

@media only screen and (max-width: 1023px){

}

@media only screen and (max-width: 767px){

}

@media only screen and (max-width: 480px){

}