.slick-class{
    padding: 40px;
    .slick-slide {
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }
    .slick-center {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
}

@media only screen and (max-width: 1200px){

}

@media only screen and (max-width: 1023px){

}

@media only screen and (max-width: 767px){

}

@media only screen and (max-width: 480px){

}