.Info{
    .Info-Grid{
        display: inline-block;
    }
    li{
        list-style: none;
        padding: 3px;
        margin: 5px;
        margin-top: 0;
        padding-top: 0;
        display: inline-block;
    }
}